<h1>Sign up for Hi Help</h1>
<form action="/users/new" method= "post">
	<label>First name:
		<input type="text" name="user[first_name]">
	</label><br><br>

	<label>Last name:
		<input type="text" name="user[last_name]">
	</label><br><br>

	<label>E-mail:
		<input type="text" name="user[email]">
	</label><br><br>

	<label>Username:
		<input type="text" name="user[username]">
	</label><br><br>

	<label>Password:
		<input type="password" name="user[password]">
	</label><br><br>
	<input type="submit" value="Log in">
</form>