<div class="container">
  <h1>Welcome to Healthy Helper!</h1>

  <h2>Login to your Healthy Helper account</h2>
  <form action="/sessions" method= "post">
    Username:<br>
    <input type="text" name="user[username]"><br>
    Password:<br>
    <input type="password" name="user[password]"><br><br>
    <input type="submit" value="Log in">
  </form>
</div>
