<div class="container">
<h1>Welcome to Health Help</h1>
<p>AHHHHMission: Health Help is here to help you improve your health. At health help you can enter your information and find out what your chances are of being affected by a disease. You will also receive what your potential chance could be and some resources that will help you reduce your risk.</p>
</div>
